
    <div class="container"><br />
      <h1>Validação de formulario com Recaptcha v2</h1><br />

        <form action="/captcha" method="POST">
      <div class="g-recaptcha" data-sitekey={{site_key}}></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
    </div>
