<!DOCTYPE html>
<html>
  <head>
    <title>Validação de formulario com Recaptcha v2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    {{{body}}}   
  </body>
</html>
